body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    img {
        width: 300px;
        border-radius: 10px;
    }
    ol {
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
    }
}